mdurl==0.1.2
triton==3.5.0
cuda-bindings==13.0.3
nvidia-cusparselt-cu12==0.7.1
fsspec==2025.9.0
lark==1.2.2
python-dateutil==2.9.0.post0
stack_data==0.6.3
model-hosting-container-standards==0.1.9
termcolor==3.3.0
traitlets==5.14.3
anyio==4.12.0
pybind11==3.0.1
nest_asyncio==1.6.0
cupy-cuda12x==13.6.0
filelock==3.20.0
pybase64==1.4.2
dnspython==2.8.0
aiohttp==3.9.5
mistral_common==1.8.5
threadpoolctl==3.6.0
msgspec==0.20.0
click==8.1.8
cachetools==6.2.2
kiwisolver==1.4.9
decorator==5.2.1
msgpack==1.1.2
python-json-logger==4.0.0
fastapi==0.122.0
jupyter_core==5.9.1
regex==2025.11.3
cbor2==5.7.1
platformdirs==4.5.0
bitsandbytes==0.48.2
httptools==0.7.1
fastapi-cloud-cli==0.5.2
loguru==0.7.3
safetensors==0.7.0
ray==2.52.1
typing-inspection==0.4.2
asttokens==3.0.1
torchao==0.14.1
tornado==6.5.2
pydantic_core==2.41.5
pyzmq==27.1.0
nvidia-cusolver-cu12==11.7.3.90
prompt_toolkit==3.0.52
pip==25.3
flashinfer-python==0.5.2
urllib3==2.5.0
websockets==15.0.1
protobuf==4.25.8
hjson==3.1.0
distro==1.9.0
contourpy==1.3.3
modelscope==1.33.0
scikit-learn==1.8.0
ipykernel==7.1.0
nvidia-nvtx-cu12==12.8.90
yarl==1.22.0
importlib_metadata==8.7.0
nvidia-ml-py==13.580.82
astor==0.8.1
tyro==0.9.35
pytz==2025.2
mkl_random==1.3.0
executing==2.2.1
rich==14.2.0
nvidia-cufile-cu12==1.13.1.3
cuda-pathfinder==1.3.2
pydantic==2.12.5
propcache==0.4.1
scipy==1.16.3
prometheus-fastapi-instrumentator==7.1.0
jmespath==1.0.1
comm==0.2.3
starlette==0.50.0
interegular==0.3.3
rpds-py==0.29.0
multiprocess==0.70.16
typeguard==4.4.4
rignore==0.7.6
python-dotenv==1.2.1
nvidia-nvshmem-cu12==3.3.20
depyf==0.20.0
certifi==2025.11.12
opencv-python-headless==4.12.0.88
shtab==1.8.0
xgrammar==0.1.25
diffusers==0.35.2
httpcore==1.0.9
pandas==2.2.3
wget==3.2
partial-json-parser==0.2.1.1.post7
torchaudio==2.9.0
nvidia-nccl-cu12==2.27.5
nvidia-cusparse-cu12==12.5.8.93
cut-cross-entropy==25.1.1
cloudpickle==3.1.2
packaging==25.0
dill==0.4.0
tokenizers==0.22.1
email-validator==2.3.0
tzdata==2025.2
unsloth==2025.11.4
nvidia-cuda-cupti-cu12==12.8.90
Jinja2==3.1.6
wandb==0.25.1
fire==0.7.1
fastar==0.8.0
jedi==0.19.2
debugpy==1.8.17
pyparsing==3.2.5
tiktoken==0.12.0
numba==0.61.2
sentry-sdk==2.46.0
PyYAML==6.0.3
torch==2.9.0
cycler==0.12.1
tabulate==0.9.0
anthropic==0.71.0
pillow==12.0.0
faiss==1.12.0
mkl-service==2.5.2
nvidia-cutlass-dsl==4.3.1
hf_transfer==0.1.9
unsloth_zoo==2025.11.5
openai-harmony==0.0.8
xxhash==3.6.0
markdown-it-py==4.0.0
py-cpuinfo==9.0.0
gguf==0.17.1
numpy==2.4.2
numpy==2.2.6
pluggy==1.6.0
sniffio==1.3.1
Pygments==2.19.2
aiohappyeyeballs==2.6.1
hf-xet==1.2.0
datasets==4.3.0
tqdm==4.67.1
jsonschema==4.25.1
nvidia-cufft-cu12==11.3.3.83
fastapi-cli==0.0.16
seaborn==0.13.2
openai==2.8.1
nvidia-curand-cu12==10.3.9.90
nvidia-cuda-runtime-cu12==12.8.90
ptyprocess==0.7.0
peft==0.18.0
transformers==4.57.1
MarkupSafe==3.0.3
llvmlite==0.44.0
pyarrow==22.0.0
vllm==0.11.2
GitPython==3.1.46
joblib==1.5.3
idna==3.11
frozenlist==1.8.0
xformers==0.0.33.post1
apache-tvm-ffi==0.1.3
llguidance==1.3.0
pycountry==24.6.1
h11==0.16.0
pexpect==4.9.0
deepspeed==0.18.8
gitdb==4.0.12
watchfiles==1.1.1
parso==0.8.5
shellingham==1.5.4
multidict==6.7.0
outlines_core==0.2.11
charset-normalizer==3.4.4
typer==0.15.4
pure_eval==0.2.3
huggingface-hub==0.36.0
fonttools==4.61.0
jupyter_client==8.6.3
pydantic-extra-types==2.10.6
annotated-types==0.7.0
compressed-tensors==0.12.2
prometheus_client==0.20.0
torchvision==0.24.0
nvidia-cuda-nvrtc-cu12==12.8.93
supervisor==4.3.0
jiter==0.12.0
requests==2.32.5
pytest==8.3.5
nvidia-cublas-cu12==12.8.4.1
sympy==1.14.0
blake3==1.0.8
fastrlock==0.8.3
docstring_parser==0.17.0
setproctitle==1.3.7
ipython==9.7.0
diskcache==5.6.3
ninja==1.13.0
uvicorn==0.38.0
lm-format-enforcer==0.11.3
iniconfig==2.3.0
setuptools==80.9.0
attrs==25.4.0
mpmath==1.3.0
httpx==0.28.1
nvidia-cudnn-frontend==1.16.0
networkx==3.6
sentencepiece==0.2.1
uvloop==0.22.1
annotated-doc==0.0.4
cuda-python==13.0.3
wheel==0.45.1
zipp==3.23.0
jsonschema-specifications==2025.9.1
trl==0.24.0
nvidia-nvjitlink-cu12==12.8.93
python-multipart==0.0.20
typing_extensions==4.15.0
aiosignal==1.4.0
psutil==7.1.3
nvidia-cudnn-cu12==9.10.2.21
accelerate==1.12.0
einops==0.8.1
matplotlib-inline==0.2.1
matplotlib==3.10.7
mkl_fft==2.1.1
referencing==0.37.0
wcwidth==0.2.14
rich-toolkit==0.17.0
six==1.17.0
ipython_pygments_lexers==1.1.1
smmap==5.0.3
zipp==3.19.2
platformdirs==4.2.2
jaraco.functools==4.0.1
packaging==24.2
tomli==2.0.1
jaraco.collections==5.1.0
inflect==7.3.1
typing_extensions==4.12.2
autocommand==2.2.2
jaraco.context==5.3.0
more-itertools==10.3.0
importlib_metadata==8.0.0
wheel==0.45.1
jaraco.text==3.12.1
typeguard==4.3.0
backports.tarfile==1.2.0
